main {
    width: 1200px;
    margin: 0 auto;
}

.top-first-section {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.bottom-first-section {
    display: flex;
    justify-content: space-between;
}

.bottom-first-section-right {
    border: solid;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}